! Looks
URxvt.font: xft:ypn envypn:size=12
URxvt.internalBorder: 75
URxvt.scrollBar: false

! Performance
URxvt*skipBuiltinGlyphs: true
URxvt.perl-ext: eval
URxvt.perl-ext-common: eval

!Functionality
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! DPI/Font
Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: none
Xft.lcdfilter: lcddefault

! Colors
*background: #000000
*foreground: #FFFFFF

